/******  LOGIN PAGE  ******/
.login-container{
  display: flex;
  align-items: center;
  background-image: url("./assets/carry-on-colour.svg");
  height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 70px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 70%;
  width: 45%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.login-container .container {
  padding-left: 7%;
  padding-right: 7%;
  height: 100%;
}

.login-container .container h1{
  font-size: 2.5rem;
}

.login-container .container form{
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

input[type="text"], input[type="password"]{
  padding-left: 1px;
  padding-right: 1px;
  height: 40px;
  border-radius: 5px;
  border: .5px solid rgb(143, 143, 143);
  font-size: 15px;
}

label{
  display: flex;
  flex-direction: column;
}

.login-container button{
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  background-color: #F42B4B;
  color: rgb(255, 255, 255);
}

.login-container button:hover{
  background-color: rgb(151, 25, 46);
  cursor: pointer;
}


.login-container button:focus{
  outline: none !important;
}



.spinner {
  animation: spinner infinite .9s linear;
  height: 90%;
}

.spinner:focus{
  border:none;
}


@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-error{
  color: #F42B4B;
  text-align: center;
}

@media screen and (max-width: 700px){
  .login-container{
    justify-content: center;
    background-image: none;
  }
  .card {
    width: 80%;
    align-self: center;
  }
  
}

@media screen and (max-width: 350px){
  .card {
    width: 100%;
  }
  
}


/******  LOGIN PAGE  ******/



/******  HEADER  ******/

#navigation{
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F42B4B;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 70px;
  top: 0;
}

#navigation ul{
  list-style: none;
  display: flex;
}

a{
  text-decoration: none;
}

#navigation h1{
  color: white;
}

#navigation button{
  background-color: transparent;
  border: none;
}

#navigation button:hover{
  cursor: pointer;
}

#navigation button:focus{
  outline: none !important;
}


/******  HEADER  ******/




/******  HOME PAGE  ******/
.home{
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home>.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 400px;
  width: 30%;
  position: relative;
  margin-bottom: 2%;
}

/* On mouse-over, add a deeper shadow */
.home .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home .card>img{
  width: 100%;
  height: 100%;
}


.home .content{
  bottom: 0;
  z-index: 9;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 35%;
  padding-bottom: 5px;
}

.home .content:hover{
  animation-duration: 1s;
  animation-name: slideup;
}

@keyframes slideup{
  from {
    height: 35%;
    opacity: 0.7;
  }

  to{
    height: 50%;
    opacity: 1;
  }
}

.content>h2{
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 780px){

  .home{
    justify-content: space-around;
  }
  .home .card {
    width: 45%;
  }
}

@media screen and (max-width: 500px){
  .home .card {
    width: 90%;
  }
}
/******  HOME PAGE  ******/
